##
## Preprocessor
# #include <...>
snippet codeforces
#include <bits/stdc++.h>
using namespace std;

typedef unsigned long long ull;
typedef long long ll;

#define MAXN 200005  //2e5

#define TESTING

#ifdef TESTING
#define DEBUG(S, args...) {printf(S, args);printf("\n");}
#else
#define DEBUG(S, args...) 
#endif


int main()
{
	${1}
	return 0;
}
endsnippet
