##
## Preprocessor
# #include <...>
snippet codeforces
#include <bits/stdc++.h>
using namespace std;

//#define DEBUG(S, args...) 
#define DEBUG(S, args...) {printf(S, args);printf("\n");}

int main()
{
	${1}
	return 0;
}
endsnippet
